@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Poppins:wght@300;400;500&display=swap");
nav {
  background-color: var(--tint-blue, #1c1e53) !important ;
  .navbar-nav {
    gap: 40px;
  }
  .nav-link {
    color: #bbbbcb;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  .nav-link:hover {
    color: #ffff;
  }
  .navbar-btn {
    background: var(--tint-blue, #1c1e53);
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 13px 38px;
    border-radius: 30px;
    border: 2px solid rgba(244, 246, 252, 0.2);
  }
  .navbar-btn:hover {
    color: #bbbbcb;
  }
}
#home {
  padding: 100px 0px;
  background-color: var(--tint-blue, #1c1e53) !important ;
  .home__header {
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    @media (max-width: 800px) {
      font-size: 50px;
    }
    @media (max-width: 750px) {
      font-size: 45px;
    }
    @media (max-width: 700px) {
      font-size: 40px;
    }
    @media (max-width: 650px) {
      font-size: 35px;
    }
  }
  .home_text {
    width: 90%;
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    opacity: 0.699999988079071;
  }
  .btn {
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: #fcd980;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    @media (max-width: 500px) {
      margin-top: 30px;
    }
  }
  .btn:hover {
    background: var(--tint-blue, #1c1e53);
  }
}
#about {
  padding: 50px 0px;
  .about__img {
    height: 600px;
    @media (max-width: 500px) {
      height: 300px;
    }
  }

  .abot__text {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}
#features {
  padding: 100px 0px;
  background: var(--grey, #f4f6fc);

  .feature__texts {
    p {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 175% */
    }
    h2 {
      margin: 0 auto;
      width: 50%;
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
      @media (max-width: 800px) {
        width: 100%;
        font-size: 45px;
      }
      @media (max-width: 750px) {
        font-size: 40px;
      }
      @media (max-width: 700px) {
        font-size: 38px;
      }
      @media (max-width: 650px) {
        font-size: 35px;
      }
      @media (max-width: 600px) {
        font-size: 30px;
      }
    }
  }

  .about__card-1 {
    margin-top: 80px;
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .about__card-2 {
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .about__card-3 {
    margin-top: 40px;
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
}
#review {
  padding: 50px 0px;
  .review__text {
    width: 40%;
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  .review-p {
    width: 40%;
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  .img-tex {
    gap: 10px;
    h5 {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }
  }
  p {
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  .carousel1 {
    .carousel-control {
      &-prev {
        top: auto;
        padding: 15px;
        border-radius: 50%;
        // background-color: #5239fa;
      }
    }
  }
  .carousel1 {
    .carousel-control {
      &-next {
        top: auto;
        padding: 15px;
        border-radius: 50%;
        background-color: #5239fa;
      }
      &-prev {
        left: auto;
        right: 15%;
      }
    }
    .carousel-indicators {
      & [data-bs-target] {
        height: 10px;
        width: 50px;
        border-radius: 10px;
        border: 0;
        transition: all 0.6s ease;
      }
      & .active {
        width: 70px;
      }
    }
  }
}
#footer {
  padding: 100px 0px;
  background-color: #1c1e53;
  .open {
    width: 70%;
    margin-top: 23px;
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  .talk {
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
  }
  .big-div {
    margin-top: 86px;
    display: flex;
    gap: 50px;
    background: var(--yellow, #fcd980);
    padding: 18px 0px 17px 37px;
    .email {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }
    .contact {
      color: var(--dark-blue, #282938);
      /* Body 1 */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      opacity: 0.800000011920929;
    }
  }
}
